%tr.image{:id => f.object.new_record? && "image_new" }
  %td
    =f.text_field :sort_by, :disabled => f.object.new_record? && true
  %td
    = f.text_area :description, :disabled => f.object.new_record? && true, :rows => '5', :cols => '30'
  %td
    = f.file_field :image, :disabled => f.object.new_record? && true
  %td
    = link_to_remove_fields "remove", f
