#welcome
  %h1 Itnig's Portfolio
  %p Welcome to our Portfolio, your portfolio
  #designs
    - @designs.each do |d|
      #design
        %h2=d.title
        %p=d.description
        =image_tag d.image_url(:thumb)
