.clear {
  clear: both;
}

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

.design {
  float: left;
  padding: 10px 60px;
}

.design a {
  display: block;
}

#image {
  float: left;
  padding: 10px 70px;
}

#new_image {
  display: none;
}
